
<ion-content class="ion-padding">
  <ion-card>
    <ion-item lines="none" class="bg-secondary">
      <ion-card-header class="pl-0 app-poppins-medium text-white">
        w/ Smart Key
      </ion-card-header>
      <ion-buttons slot="end">
         <ion-button>
           <ion-icon name="close"></ion-icon>
         </ion-button>
       </ion-buttons>
    </ion-item>
    <ion-card-content>
      <p class="mb-3">A smart key uses a key fob for electronic authorization to access the vehicle.</p>

      <p class="mb-3">This system is easily identified by a Push Button Start type ignition.</p>
      <p class="text-center app-vehicle-selection-img"><img src="assets/img/vehicle_selection/p1.jpg" alt=""></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list class="app-vehicle-select-list">
        <ion-item>
          <ion-label>Pokémon Yellow</ion-label>
          <ion-buttons><ion-button><ion-icon name="information-circle-outline"></ion-icon></ion-button></ion-buttons>
        </ion-item>
        <ion-item>
          <ion-label>Mega Man X</ion-label>
          <ion-buttons><ion-button><ion-icon name="information-circle-outline"></ion-icon></ion-button></ion-buttons>
        </ion-item>
        <ion-item>
          <ion-label>The Legend of Zelda</ion-label>
          <ion-buttons><ion-button><ion-icon name="information-circle-outline"></ion-icon></ion-button></ion-buttons>
        </ion-item>
        <ion-item>
          <ion-label>Pac-Man</ion-label>
          <ion-buttons><ion-button><ion-icon name="information-circle-outline"></ion-icon></ion-button></ion-buttons>
        </ion-item>
        <ion-item>
          <ion-label>Super Mario World</ion-label>
          <ion-buttons><ion-button><ion-icon name="information-circle-outline"></ion-icon></ion-button></ion-buttons>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
