<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-title>DLC Locator</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="close-outline" class="font-size-28"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </h1>
  <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </h2>
  <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </h3>
  <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit</h4>
  <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit</h5>
  <h6>Lorem ipsum dolor sit, amet consectetur adipisicing elit</h6>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  <span class="font-size-14">Lorem ipsum dolor sit, amet consectetur adipisicing elit</span><br>
  <small>Lorem ipsum dolor sit </small>
  <p><a href="#" class="font-size-16">Lorem ipsum dolor sit</a></p>
  <p><a href="#" class="text-danger">Lorem ipsum dolor sit</a></p>
  <p><a href="#" class="text-light no-line">Lorem ipsum dolor sit</a></p>
  <p class="mb-4">
    <ion-input class="app-input" placeholder="Work Order Number"></ion-input>
  </p>
  <p class="mb-4">
    <ion-input class="app-input" placeholder="Mileage"></ion-input>
  </p>
  <p class="mb-4">
    <ion-select class="app-select" placeholder="Item">
      <ion-select-option value="item">item</ion-select-option>
      <ion-select-option value="item">item</ion-select-option>
      <ion-select-option value="item">item</ion-select-option>
      <ion-select-option value="item">item</ion-select-option>
      <ion-select-option value="item">item</ion-select-option>
    </ion-select>
  </p>
  <p class="mb-4">
    <ion-button class="app-button" expand="block">Submit</ion-button>
  </p>
  <p class="mb-4">
    <ion-button class="app-button" color="danger
" expand="block">Erase all</ion-button>
  </p>
  <div class="d-flex mb-5 justify-content-between">
    <ion-button class="app-button w-100 mr-3" expand="block">Submit</ion-button>
    <ion-button class="app-button w-100" color="danger" expand="block">Erase all</ion-button>
  </div>
  <p class="text-center"><a href="#" class="font-size-16">Scan VIN</a></p>
  <p class="text-center"><a href="#" class="font-size-16 text-secondary">Cancel</a></p>
  <ion-item lines="none" class="ion-no-padding mb-3">
    <ion-grid class="app-grid-table">
      <ion-row class="app-grid-th">
        <ion-col>ID</ion-col>
        <ion-col>Date</ion-col>
        <ion-col>abc</ion-col>
        <ion-col>abc</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>abc</ion-col>
        <ion-col>abc</ion-col>
        <ion-col>
          <ion-icon src="assets/svg/info.svg" class="font-size-30"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon src="assets/svg/car.svg" class="font-size-30"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>abc</ion-col>
        <ion-col>abc</ion-col>
        <ion-col>
          <ion-icon src="assets/svg/delete.svg" class="font-size-30"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon src="assets/svg/delete.svg" class="font-size-30"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item lines="none">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consectetur sequi voluptatem, pariatur nihil velit quia fuga omnis in, consequatur dolor aspernatur corrupti enim laudantium accusantium dicta doloribus perferendis nostrum?</p>
  </ion-item>
</ion-content>
