<ion-header class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>Please Note...</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" color="tertiary">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content scroll-y="false">
  <div class="app-sp-font-12">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <p class="app-poppins-semi-bold">
            Please make sure your Pro15 Unit is the only one within Bluetooth range. If there are multiple found, it will be difficult to identify which one is which, if the names have not yet been changed.
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>