<ion-header class="ion-no-border">
  <ion-toolbar class="bg-02" mode="md" *ngIf="isAndroid">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline" class="font-size-28" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="bg-02" mode="ios" *ngIf="!isAndroid">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline" class="font-size-28" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordForm.valid && doResetPassword($event)">
    <div class="w-100 px-3">
      <p class="app-form-logo">
        <img src="assets/img/its-logo.png" alt="Innova Telematics Solutions" />
      </p>
      <p class="mb-4">
        <ion-input (ionChange)="emailChange()" class="app-input mb-2" formControlName="email" type="email" name="email"
          required placeholder="Email"></ion-input>
      </p>
      <div [hidden]="!formSubmitted" *ngIf="forgotPasswordForm.controls.email.errors" class="mb-4">    
        <span ion-text class="text-danger" *ngIf="forgotPasswordForm.controls.email.errors">
          Email is not valid.
        </span>
      </div>
      <div class="mb-4">       
        <span ion-text class="text-danger" [hidden]="!errorMessage || forgotPasswordForm.controls.email.invalid">
          {{errorMessage}}
        </span>
      </div>
      <ion-button (click)="formSubmitted = true" type="submit" class="app-button" expand="block">Reset</ion-button>
    </div>
  </form>
</ion-content>