ion-header {
  ion-toolbar {
    &[mode="md"] {
      --color: #fff;
      --background: var(--ion-color-secondary);
      padding-top: calc(0.5rem + var(--ion-safe-area-top)) !important;
      ion-title {
        font-family: roboto-bold, arial, sans-serif;
      }
    }
    &[mode="ios"] {
      --color: #fff;
      --background: var(--ion-color-secondary);
      padding-top: calc(var(--ion-safe-area-top) - 1.2rem) !important;
      ion-title {
        text-align: left;
        padding-left: 15px;
        font-size: larger;
        font-family: roboto-bold, arial, sans-serif;
      }
    }
  }
}


ion-content {
  --color: #000;
  --background: var(--ion-color-tertiary);
}
.app-input, ion-select {
  background: #fff;
  font-size: var(--font-size-22);
  --placeholder-color: var(--ion-color-light);
  border: 1px solid var(--ion-color-medium);
  --padding-top: 0.23rem;
  --padding-bottom: 0.23rem;
  --padding-end: 0.7rem;
  --padding-start: 0.7rem;
  --placeholder-opacity: 1;
  min-height: 2.8rem;
}
.app-button {
  --color: #fff;
  --border-radius: var(--app-control-radius-02);
  --padding-top: 1.4rem;
  --padding-bottom: 1.4rem;
  font-size: var(--font-size-18);
  letter-spacing: 0.01rem;
  font-family: poppins-regular, arial, helvetica, sans-serif;
  text-transform: capitalize;
  --box-shadow: none;
  @media (min-width: 415px) {
    font-size: var(--font-size-20);
  }
}
a {
  text-decoration: underline;
  &.no-line {
    text-decoration: none;
  }
}
ion-item {
  &.ion-no-padding {
    --padding-end: 0;
    --inner-padding-end: 0;
  }
  &.no-bg {
    --background: transparent;
  }
}
ion-item {
  &.app-scoll-tbl {
    overflow-x: auto;
    .app-grid-table {
      min-width: 34rem;
    }
  }
  .app-grid-table {
    --ion-grid-padding: 0;
    font-size: var(--font-size-15);
    @media (min-width: 576px) {
      font-size: var(--font-size-18);
    }
    .app-grid-th {
      color: #fff;
      background: var(--ion-color-secondary);
    }
    ion-col {
      padding: 0.68rem;
      span {
        font-size: var(--font-size-15) !important;
        @media (min-width: 576px) {
          font-size: var(--font-size-18) !important;
        }
      }
    }
  }
}
ion-select {
  &.app-select {
    min-height: 2.7rem;
    &::part(icon) {
      zoom: 2;
    }
  }
}
.app-content-center-midle {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}
ion-footer {
  background: var(--ion-color-tertiary);
  ion-toolbar {
    --background: var(--ion-color-tertiary);
  }
}
.app-form-logo {
  text-align: center;
  margin-bottom: 1.5rem;
  img, ion-img {
    width: 100%;
    max-width: 17rem;
    margin: 0 auto;
    @media (min-width: 415px) {
      max-width: 24rem;
    }
  }
}
img {
  image-rendering: -webkit-optimize-contrast;
}
.mb-4-01 {
  margin-bottom: 2rem
}
.no-line-height {
  line-height: 0
}
ion-list {
  &.app-dtc-details {
    background: transparent;
    ion-list-header {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
      color: var(--app-color-03);
    }
    ion-item {
      border-top: 1px solid #ddd;
      margin-bottom: 1rem;
      p {
        margin-top: 0;
      }
    }
  }
}
.app-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #fff;
  text-align: center;
  li {
    display: inline-block;
    margin: 0.2rem;
    min-width: 2rem;
    text-align: center;
    font-size: var(--font-size-15) !important;
    @media (min-width: 576px) {
      font-size: var(--font-size-18) !important;
    }
    a {
      color: #000;
      display: block;
      padding: 0.1875rem 0.625rem;
      text-decoration: none;
    }
    &.current {
      padding: 0.2rem 0.6rem;
      color: #fff;
    }
  }
}
.app-datetime {
  --placeholder-color: var(--ion-color-light);
  border: 1px solid var(--ion-color-medium);
}
.app-report-history {
  margin-bottom: 2rem;
  ion-item {
    --min-height: auto;
    padding: 0.2rem 0;
    align-items: baseline;
    ion-label {
      padding-left: 0.5rem;
      color: var(--app-color-04) !important;
      margin: 0;
      white-space: normal !important
    }
  }
}
.app-wrp-datetime{
  border: 1px solid var(--ion-color-medium);
  display: flex;
  width: 100%  ;
  padding: 0.5rem 0 0.5rem 0.5rem;
  align-items: center;

}
.app-mr {
	margin-bottom: 0.5rem !important;
	padding-right: 0 !important;
	@media (min-width: 576px) {
		/* sm */
		margin-bottom: 0 !important;
		padding-right: 1rem !important;
	}
}

/*table*/
.app-table {
  width: 100%;
  th, td {
    padding: 0.68rem;
    vertical-align: top;
    font-size: var(--font-size-15);

    @media (min-width: 576px) {
      font-size: var(--font-size-18);
    }
  }
  th {
    color: #fff;
    background: var(--ion-color-secondary);
    font-weight: 500;
  }
}
/*scroll table*/
.app-scroll-table {
  overflow-x: auto;
  table {
    min-width: 27rem;
    &.app-w-20{
     min-width: 20rem;
  }
  }
}
/*show key broad*/
.app-open-keybroad-01 {
  position: relative;
  bottom: 6.5rem;    
}
.vin-input{
    text-transform: uppercase;
}
.app-sp-font-12 {
  font-size: var(--font-size-12) !important;
  table {
    td, span {
      font-size: var(--font-size-12) !important;
      @media (min-width: 376px) {
        font-size: var(--font-size-15)!important;
      }
    }
  }
  @media (min-width: 376px) {
    font-size: var(--font-size-15)!important;
  }
}
.mt--100 {
    margin-top: -21rem;
}

.incomplete-report {
  color: var(--ion-color-danger) !important;
}
.complete-report {
  color: var(--ion-color-primary) !important;
}

.ngx-pagination {
  padding-left: 0;
}

.ngx-pagination .disabled {
  padding: 0rem !important;
  span {
    font-size: var(--font-size-14) !important;
  }
}

.ngx-pagination .pagination-previous a {
  font-size: var(--font-size-14) !important;
}

.ngx-pagination .pagination-next a {
  font-size: var(--font-size-14) !important;
}

.app-pagination li.current {
  padding: 0.2rem 0.2rem !important;
}

.ngx-pagination .pagination-previous.disabled::before {
  margin-right: 0rem !important;
}

.ngx-pagination .pagination-next.disabled::after {
  margin-left: 0rem !important;
}

.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before{
  margin-right: 0rem !important;
}

.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after{
  margin-left: 0rem !important;
}

.ngx-pagination li {
  margin-right: 0rem !important;
}
.app-modal-dialog-3 {
  --height: 230px;
}

.app-modal-dialog-2 {
  --height: 320px;
  &.keyboard-active {
    height: 100%;
    padding-bottom: 90px;
    &.ios {
      height: 100%;
      padding-bottom: 127px;
    }
  }
  @media (min-width:768px) {
    --height: 370px;
  }
}

.app-modal-dialog {
  --background: transparent;
  &.custom-modal {
    height: calc(100% - 90px);
    &.ios {
      height: calc(100% - 127px);
    }
    ion-card {
      bottom: 35px;
    }
  }
  &.keyboard-active {
    height: 100%;
    padding-bottom: 90px;
    &.ios {
      height: 100%;
      padding-bottom: 127px;
    }
  }
  ion-card {
    position: fixed;
    bottom: 125px;
    z-index: 12;
    left: 0;
    right: 0;
    width: calc(100% - 2rem);
    margin: 0 auto;
    overflow: visible;
    &.app-modal-middle {
      bottom: auto !important;
      top: 50%;
      transform: translateY(-50%);
    }
    &.ios {
      width: calc(100% - 2.8rem);
    }
    &[class*='app-modal-arrow-']:after {
      content: '';
      position: absolute;
      border-width: 1.7rem 0.85rem 0 0.85rem;
      border-color: #fff transparent transparent transparent;
      border-style: solid;
      bottom: -1.5rem;
    }
    &.app-modal-arrow-right:after {
      right: calc(21vw + 0.375rem);
    }
    &.app-modal-arrow-left:after {
      left: calc(21vw + 0.375rem);
    }
  }
  .app-dismiss {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

.app-footer-logo {
  text-align: center;
  margin-top: 2.5rem;
  img, ion-img {
    width: 100%;
    max-width: 6rem;
    margin: 0 auto;
    @media (min-width: 415px) {
      max-width: 8rem;
    }
  }
}